.servicecard
{
    width: 105%;
    height: auto;
    color: white;

}

/* .servicetitle
{
    padding: 2rem 0rem 2rem 0rem;
    color: white;
    font-size: 5rem;
} */

.servicecontainer
{
    background-color: rgb(75, 72, 72);
}

/* .services
{
    
} */