img {
    width: 100% !important;
    height: 100% !important;
}

#introBox {
    background-color: #80808040 !important;
    /* padding: 5rem, 10rem, 5rem, 10rem; */
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 25px;
    /* padding-left: 80px; */
    margin-right:5px;

}

#intro {
    margin-top: 3px;
}