.about_me_img
{
    height: auto;
    width: 100%;
}

.about_text_container
{
    background-color: rgb(75, 72, 72);
    color: white;
    padding: 20% 10% 20% 10%;
}

.about_background
{
    background-color: rgb(75, 72, 72);
}