.login
{
    color: rgba(255,255,255,.9);;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 15px;
}

/* .nav_remove_edge
{
    border-radius: 0rem;
} */
